.hero-image img {
  width: 100%;
  position: relative;
  margin-bottom: -5px;
}

.hero-text {
  color: inherit;
  position: absolute;
  top: 24%;
  left: 60%;
  color: #fff;
  font-family: 'Anton', sans-serif; 
  line-height: 0.8;
  font-size: 9.4rem; 
}

.hero-text h2 {
  font-size: 11.4rem;
  margin-left: 3vw;
}

.hero-text h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin-top: 10%;
  font-weight: 100;
  margin-top: 4%;
}

/* Medium Screen */
@media (max-width: 75em) {
  .hero-text {
    top: 16%;
    left: 60%;
    font-size: 6rem; 
  }
  
  .hero-text h2 {
    font-size: 8rem;
    margin-left: 3vw;
  }
  
  .hero-text h3 {
    font-size: 2.4rem;
    margin-top: 10%;
    margin-top: 4%;
  }
}

/* iPhone X */
@media (max-width: 56.25em) {
  .hero-text {
    top: 10%;
    left: 60%;
    font-size: 3rem; 
  }
  
  .hero-text h2 {
    font-size: 4rem;
    margin-left: 3vw;
  }
  
  .hero-text h3 {
    font-size: 1.4rem;
    margin-top: 10%;
    margin-top: 4%;
  }
}

/* Large Screen */
@media (min-width: 112.5em) {
  .hero-text {
    font-size: 12.8rem; 
  }
  
  .hero-text h2 {
    font-size: 14rem;
    margin-left: 4vw;
  }
  
  .hero-text h3 {
    font-size: 4.4rem;
  }
}